/**
 * Import
 */
@import src/styles/vars

/**
 * Styles
 */

.navbar
  padding: 1rem
 

.fa-user-times
  color: #bdccb8
  font-size: 1.5rem

.subtitle
  margin-left: 43%
  margin-bottom: 5%

h1
  font-size: 3.5rem
  font-weight: bold

.button-alert
  margin-bottom: 20%
  font-weight: bold

.fa-bullhorn
  font-size: 2rem

 



