.react-joyride__tooltip
  z-index: 99999

button#all 
    background-color: #5f5f5f 
    box-shadow: 0px 0px 0px 0px #111111
    border-radius: 5px
    color: #ffff
    text-shadow: 1px 1px darkgrey
    font-weight: bold
button#all:hover
    background-color: #111111 

button#lost
    background-color: #ff6b6b
    box-shadow: 0px 0px 0px 0px #ff6b6b
    border-radius: 5px
    color: #ffff
    text-shadow: 1px 1px darkgrey
    font-weight: bold
button#lost:hover
    background-color: #e75673

button#seen
    background-color:#FFE66D 
    box-shadow: 0px 0px 0px 0px #fccf05
    border-radius: 5px
    color: #ffff
    text-shadow: 1px 1px darkgrey
    font-weight: bold
button#seen:hover
    background-color: #f9c24c 
   


button#found
    background-color: #4ECDC4
    box-shadow: 0px 0px 0px 0px #03a89a
    border-radius: 5px
    color: #ffff
    font-weight: bold
button#found:hover
    background-color: #b0de5c

.col-md-4.text-center 
    background-color: #f9f9f9
    border-radius: 5px
    box-shadow: 5px 5px lightgrey
    height: 600px
