.card
  border: none

.card-img
  border-radius: 50px
  max-height: 50vh
  width: auto
  height: auto

.h1-alertview,
.h2-alertview
  text-align: center
  color: #1a535c

.card-infos
  border: 1px solid lightgrey

.card-body
  background-color: rgba(78, 205, 196, 0.5)
  box-shadow: 5px 5px lightgrey
  border-radius: 5px

 .h1-alertview
  color: #1a535c

 .text-tab-ln
  color: #1a535c
