{% extends 'base.html.twig' %}
{{asset('assets/css/style.css')}} {#ajout pour utilisation css#}

{% block title %}Inscription{% endblock %}

{% block body %}
    {{ form(registerForm) }}
    {# Lien de connexion #}
    <a href="{{ path('login') }}">Se connecter</a>
    <br>
    <a href="{{ path('index') }}">Accueil</a>
{% endblock %}